<div class="main">
  <div class="titleBlock">
    <span>
      Demonstration Page
    </span>
  </div>
  <div class="bodyBlock">
    <div class="cardHeader clickableBox" (click)="toggleTableBox()">
      <span>Table Sorting</span>
    </div>
    <div class="cardBody tableBox" [ngClass]="{'collapse' : tableExpanded}" #tableBox>
      <p>Here is an example table filled with miscellaneous data</p>
      <table>
        <thead>
          <tr>
            <th dataToSort="name" dataOrder="asce" (click)="sortColumn($event)" [ngClass]="{'inverse': sortBy ==='name' && sortOrder === 'desc', 'column-selected': sortBy === 'name'}">Name</th>
            <th dataToSort="height" dataOrder="asce" (click)="sortColumn($event)" [ngClass]="{'inverse': sortBy === 'height' && sortOrder === 'desc', 'column-selected': sortBy === 'height'}">Height</th>
            <th dataToSort="age" dataOrder="asce" (click)="sortColumn($event)" [ngClass]="{'inverse': sortBy === 'age' && sortOrder === 'desc', 'column-selected': sortBy === 'age'}">Age</th>
            <th dataToSort="occupation" dataOrder="asce" (click)="sortColumn($event)" [ngClass]="{'inverse': sortBy === 'occupation' && sortOrder === 'desc', 'column-selected': sortBy === 'occupation'}">Occupation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <td>{{person.name}}</td>
            <td>{{person.height}} cm</td>
            <td>{{person.age}}</td>
            <td>{{person.occupation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-calculator></app-calculator>
</div>