@import "../app.component.css";

.calcSection {
    width: 150px;
    border: 1px solid hsla(240, 100%, 20%, 0.6);
    display: inline-block;
    padding: 0 10px;
}

.typeSelectionBar {
    width: 100%;
    margin: auto;
    text-align: left;
    justify-content: left;
}

.calculationSection {
    width: 80%;
    margin: auto;
    border: 1px solid hsla(240, 100%, 20%, 0.6);
    min-height: 30px;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

#operator{
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    max-width: 65px;
}

.result {
    width: 250px;
    display: inline-block;
    text-align: left;
}

.accelReturn{
    width: 500px;
    margin: auto;
}

#physicsCalcButton {
    margin: auto;
}