.bodyBlock {
    max-width: 960px;
    margin: 20px auto;
    border: 1px solid hsla(240, 100%, 20%, 0.6);
    border-radius: 10px;
    text-align: center;
} 

.titleBlock {
    max-width: 960px;
    margin: 20px auto;
    text-align: center;
}

.cardHeader {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px solid hsla(240, 100%, 20%, 0.6);
    padding-top: 8px;
}

.blue {
    background-color: hsla(240, 100%, 20%, 1.0);
    color: hsla(240, 100%, 20%, 1.0);
}

.labelText {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
}

.main {
    min-height: 1014px;
    /* height: 100%; */
    width: 100%;
}

.clickableBox:hover {
    cursor: pointer;
    background-color: hsla(240, 20%, 90%, 1.0);
}