<div class="main">
  <div class="titleBlock">
    <span>Work Experience</span>
  </div>
  <div class="bodyBlock">
      <div class="cardHeader clickableBox" (click)="toggleTravelersBody()">
          <span>Kelly Services - Travelers Insurance eBusiness</span>
      </div>
      <div class="cardBody" [ngClass]="{'collapse' : travelersExpanded}" #travelersBody>
          <p>{{ travelersMessage }}</p>
      </div>
  </div>

  <div class="bodyBlock">
      <div class="cardHeader clickableBox" (click)="togglePutnamBody()">
          <span>Putnam Refectory</span>
      </div>
      <div class="cardBody" [ngClass]="{'collapse' : putnamExpanded}" #putnamBody>
          <p>{{ putnamMessage }}</p>
      </div>
  </div>

  <div class="bodyBlock">
      <div class="cardHeader clickableBox" (click)="toggleKiwiBody()">
          <span>KiwiSpoon Frozen Yogurt</span>
      </div>
      <div class="cardBody" [ngClass]="{'collapse' : kiwiExpanded}" #kiwiBody>
          <p>{{ kiwiMessage }}</p>
      </div>
  </div>
</div>
